<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopData.shopName%></h1>
    <p><a href="about">About <%=shopData.shopName%></a></p>
    <p><a href="books/search">Search for books</a></p>
    <p><a href="users/register">Register with us</a></p>
    <p><a href="/books/addbook">Add a new book</a></p>
    <p><a href="/books/list">View available books</a></p>
    <p><a href="/books/bargainbooks">View available books under £20</a></p>
  </body>
</html>
