<!DOCTYPE html>
<html>
  <head>
    <title>Registered Users</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Registered Users</h1>

    <% if (users.length == 0) { %>
      <p>No users registered yet.</p>
    <% } else { %>
      <table>
        <tr>
          <th>Username</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
        </tr>
        <% users.forEach(function(user) { %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
          </tr>
        <% }) %>
      </table>
    <% } %>

    <p><a href="/">Back to Home</a></p>
  </body>
</html>